p.error-output-text {
  color: red;
} 

p.info-output-text {
}

h1 {
  padding: 1em;
}

.light-text {
  color: #DDDDDD;
}

.background {
  background-color: #DDDDDD;
}

.primary {
  background-color: #28385E;
}

.accent {
  background-color: #516C8D;
}
