p.error-output-text {
  color: red;
} 

p.info-output-text {
}

/* padding and margins */
h1 {
  padding: 1em;
}

.margin-bottom {
  margin-bottom: 1em;
}

/* colors */
.light-text {
  color: #DDDDDD;
}

.background {
  background-color: #DDDDDD;
}

.primary {
  background-color: #28385E;
}

.accent {
  background-color: #516C8D;
}
